* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 4px #222;
}
/* Card bao quát */
.project {
  margin: 30px auto;
  max-width: 90%;
  background-color: blue;
  padding: 15px 0 15px 0;
  display: grid;
  grid-template-columns: 48% 24% 24%;
  column-gap: 1%;
  row-gap: 15px;
  justify-content: center;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.6);
}
/* Từng card con trong 5 card */
.cardElm {
  background-color: #f0f8ff;
  padding: 15px;
}
.cardName {
  border-bottom: 1px solid #bfd0cc;
  padding-bottom: 15px;
}
/* Goals */
.cardInfo {
  display: grid;
}
.rowInfo {
  padding: 15px 15px 15px 0;
  display: grid;
  grid-template-columns: 15% 85%;
  line-height: 1.5;
  align-items: center;
}
.rowInfo i {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
}

/* Team */
#team .info,
#timeline .info,
#primary .info {
  padding-left: 15px;
}
/* Timeline */
#timeline {
  grid-column: 3;
  grid-row: 1/3;
}
#goals .rowInfo,
#timeline .rowInfo {
  border-bottom: 1px dotted #69ace7;
}
.number {
  font-size: 24px;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 50%;
  background-color: #9e88ff;
  justify-self: center;
  color: #eee;
}
/* Scopes */
#scopes .cardInfo {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 4%;
  padding: 15px 20px 15px 0;
}
#scopes .cardInfo h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
}
#scopes .cardInfo p {
  line-height: 1.5;
  padding-bottom: 15px;
}
/* Media query */

/* For tablet */
@media only screen and (max-width: 768px) {
  .project {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
  #timeline {
    grid-column: 1;
    grid-area: 5;
  }
  .rowInfo {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .cardInfo {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .info {
    padding-left: 0 !important;
  }
  .number {
    justify-self: start;
  }
}

/* For mobile */
@media only screen and (max-width: 600px) {
}
